<div id="feed" class="span-18 last">
	<br /><br />
	<h3><%= @profile['name'] %></h3>
	<div class="span-10" style="margin-bottom: 20px;">
		<%= image_tag @profile['photo']["largePhotoUrl"] %>
	</div>
	
	<h4 class="span-10">
	  Telephone: <%=	@profile['phoneNumbers'][0]['number'] %>
	</h4>	
	<div class="span-18">
	  <h4>Current Status</h4>
	  <p class="explanation-text"><%= @profile['currentStatus']['body']['text'] %></p>
	</div>
	<div class="span-18">
	  <h4> About Me</h4>
	  <p class="explanation-text"><%=	@profile['aboutMe'] %></p>
    </div>
	
</div>