<div class="span-24 last">
	<h1>Acme Web Hosting Service Status Page</h1>
	<br />

	<h3>The service is currently <span id="service-status" class="loud large">UP</span></h3>
	
	
	<h3>Recent service outages and other issues our customers should be aware of</h3
</div>

	<br />
<% if flash[:notice] %>
	<div id="error_explanation">
	  <%= flash[:notice] %>
	</div>
<% end %>
	
<div id="feed-items" class="span-18 last">

  <% @chatouts.each do |chatout| %>
    <div class="feed-item-row span-18 last">
		<div class='user-thumb span-2'>
	      <%= image_tag(chatout['user']['photoUrl'], :size => "45x45", :class => 'profile-thumb' ) %>
	    </div>
	    <div class='message span-12 last'>
		  <%= link_to chatout['user']['name'], chatout['user']['url'], {:class => 'user-name'}  %>&nbsp;
		  <span class='message-body'><%= chatout['body'] %></span>
		  <br /> <span class='created-date'><%= time_ago_in_words(chatout['createdDate']) %> ago</span>
		</div>	 
	
	   <% if chatout['comments']['comments'].length > 0 %>

	     <div class='comments span-12 last'>	
			  <!-- comments -->
			  <% chatout['comments']['comments'].each do |comment| %>
				<div class='comment-row span-12 last'>
					<%= image_tag(comment['user']['photoUrl'], :size => "45x45", :class => 'profile-thumb' ) %>
					    <%= link_to comment['user']['name'], comment['user']['url'], {:class => 'user-name'}  %>&nbsp;
					<span class='message-body'><%= comment['body'] %></span>
					   <br /> <span class='created-date'><%= time_ago_in_words(comment['createdDate']) %> ago</span>
			   </div>
		    <% end %>
		</div>
	    <% end %>
    </div>		
  <% end %>
 
</div>

<div class="span-24">
  <br />
  <%= link_to 'start Oauth', sessions_oauth_url %>
</div>


