<%= form_tag("/chatter/feeds/record/#{Qa::GROUP_ID}/feed-items") do %>

  <div class="span-24 last">
	  <% if flash[:error] %>
	    <div id="error_explanation">
	      <h2><%= flash[:error] %></h2>
	    </div>
	  <% end %>
  </div>

  <div class="span-6">	
    <%= label_tag(:name, "Your Name:") %>
  </div>
  <div class="span-12 last">
    <%= text_field_tag(:name, "", :maxlength => 25, :size => 25, :class => "") %>
  </div>

  <div class="span-18">
    <%= text_area_tag 'body', nil, :rows => 5, :cols => 20 %>
  <div>
	
  <div class="span-4 last actions">
    <%= submit_tag("Post" ) %>
  </div>

<% end %>
