<%= form_tag(qas_path) do %>

  <div class="span-24 last">
	  <% if flash[:error] %>
	    <div id="error_explanation">
	      <h2><%= flash[:error] %></h2>
	    </div>
	  <% end %>
  </div>

  <div class="span-4">	
    <%= label_tag(:name, "Your Name:") %>
  </div>
  <div id="post-name-field" class="span-14 last">
    <%= text_field_tag(:name, "", :maxlength => 35, :size => 35, :id => "post-name-field") %>
  </div>

  <div id="post-text-area" class=" span-14">
    <%= text_area_tag 'text', nil,  :id => "post-text-area" %>
  </div>
	
  <div class="span-1 last">
    <button name="comment" type="submit" id="post-button" >Post</button>
	
  </div>

<% end %>
