<div id="publisher" class="span-15 last">
	<%= form_tag(qas_path(:engine_id => @records[@selected_engine]['Id']) ) do %>

	  <div class="span-10 last">
		  <% if flash[:error] %>
		    <div id="error_explanation">
		      <h2><%= flash[:error] %></h2>
		    </div>
		  <% end %>
	  </div>

	  <div class="span-4 last">	
	    <%= label_tag(:name, "Your Name") %>
	  </div>
	
	  <div id="post-name-field" class="span-14 last">
	    <%= text_field_tag(:name, "", :maxlength => 35, :size => 35, :id => "post-name-field") %>
	  </div>


	  
	  <div class="span-15 last">	
	    <%= label_tag(:name, "Comments, Questions, Suggestions") %>
	  </div>
	

		
	  <div id="post-text-area" class="span-15 last">
		<div class="span-12">
	      <%= text_area_tag 'text', nil,  :id => "post-text-area" %>
	    </div>
	    <div class="span-1 last" id="post-ask-button">
        	<button name="comment" type="submit" id="post-button" class="cssbutton large blue" >&nbsp;Post&nbsp;</button>
        </div>	
	  </div>
	



	<% end %>
</div>	
