<div class="span-24 last" id="front-header" >
	<h2 class="span-24 last">Chat with the Chatter API team</h2>
	<br />

	<h4 class="span-24 last">Post your question or suggestion here and we'll try to answer it.</h4>
	
</div>

<div class="span-24 last">
  <br />
  <%= render :partial => 'form' %>
</div>


	
<div class="span-24 last">
		<br />
	<% if flash[:notice] %>
		<div class="error span-24 last">
		  <%= flash[:notice] %>
		</div>
	<% end %>
	
	<% if @chatouts %>	
		<div id="feed-items" class="span-18 last">

		  <% @chatouts.each do |chatout| %>
		    <div class="feed-item-row span-18 last">
				<div class='user-thumb span-2'>
		      
			    </div>
			    <div class='message span-12 last'>
				  <span class='user-name bold'><%= chatout['user']['name']   %></span>&nbsp;
				  <span class='message-body'><%= chatout['body']['text'] %></span>
				  <br /> <span class='created-date'><%= time_ago_in_words(chatout['createdDate']) %> ago</span>
				</div>	 
	
			   <% if chatout['comments']['comments'].length > 0 %>

			     <div class='comments span-12 clear last'>	
					  <!-- comments -->
					  <% chatout['comments']['comments'].each do |comment| %>
						<div class='comment-row span-12 last'>
					      <div class='user-thumb span-2'>
						    <% image_cheater(comment['user']['lastName']) %>
						  </div>	
							    <span class='user-name bold'><%= comment['user']['name']%></span>&nbsp;
							<span class='message-body'><%= comment['body']['text'] %></span>
							   <br /> <span class='created-date'><%= time_ago_in_words(comment['createdDate']) %> ago</span>
					   </div>
				    <% end %>
				</div>
			    <% end %>
		    </div>		
		  <% end %>
 
		</div>
	<% end %>
</div>